:root {
  --navbar-color: #e6e6e6;
  --button-color: #F0F0F0;
  --button-hover-color: #D7D7D7;
  --navbar-hover-color: #71c174;
  --navbar-active-color: #ebd974;
  --background-color: #d9d9d9;
  --border-color: #000c7a;
  --text-color: #505050;
}



button {
    border-radius: 15px;
    margin: 0.5vw;
    text-align: center;
    background-color: var(--button-color);
}

button:hover {
    background-color: var(--button-hover-color);
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color);
    color: var(--text-color);
}


.noscript-text {
    font-weight: bold;
}

img {
  max-width: 100%;
}


h2 {
    margin: 10px;
}

.main {
    margin: 1vw;
}

.navbar {
    background-color: var(--navbar-color);
    border-bottom: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    border-color: var(--border-color);
}

.navitem {
    border-radius: 0px;
    margin: 0vw;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1vw;
    border: none;
    background-color: var(--navbar-color);
    color: var(--text-color);
}

.navitem:hover {
    transition-duration: 300ms;
    transition-property: background-color;
    background-color: var(--navbar-hover-color);
}

.navitem:active {
    transition-duration: 300ms;
    transition-property: background-color;
    background-color: var(--navbar-active-color);
}



.lang-button {
    display: block;
}


.settings {
    display: flex;
    flex-wrap: wrap;
}

.settings > * {
    margin: 1vw;
    flex: 1 1;
}


.color-picker > * {
    margin-bottom: 0.5vw;
    display: block;
}

.spoiler {
    font-size: x-small;
}

.spoiler-content {
    margin: 3px;
    padding: 0.25em;
}


.nowrap {
    white-space: nowrap;
}




















